body {
  margin: 0;
  font-family: 'Lobster', cursive;
}
.container {
  margin: 0px 166px;
}

.header {
  background-image: url(bg.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-line {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  margin-right: 35px;
  transition: color 0.3s linear;
}
.nav-item:hover {
  color: #ff7400;
}
.cart {
  position: relative;
  border-right: 1px solid #fff;
  padding-right: 25px;
  height: 50px;
}
.cart-img {
  position: absolute;
  top: 10px;
  right: 3px;
  padding-right: 25px;
  width: 25px;
}
.logo-img {
  padding-right: 25 px;
}
.num {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.3s linear;
}
.num:hover {
  color: #ff7400;
}
.phone-text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}
.phone-holder {
  display: flex;
  align-items: center;
}
.button {
  background-color: #ff7400;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 700;
  font-family: 'Open sans', sans-serif;
  transition: background-color 0.3s linear;
}
.button:hover {
  color: #ea924b;
}
.header-down {
  position: relative;
}
.header-title {
  color: #fb7507;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 220px;
  margin-left: 450px;
  margin-bottom: 12px;
}
.header-subtitle {
  color: #fb7507;
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 280px;
  margin-left: 415px;
}
.header-suptitle {
  color: #fff;
  font-size: 18px;
  font-family: 'Open sans', sans-serif;
  position: absolute;
  margin-top: 350px;
  margin-left: 465px;
}
.header-suptitle::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 13px;
  left: 200px;
}
.header-suptitle::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 61px;
  background-color: #fff;
  top: 13px;
  right: 200px;
}
.header-button {
  background-color: #ff7400;
  padding: 14px 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open sans', sans-serif;
  text-decoration: none;
  transition: background-color 0.3s linear;
  position: absolute;
  margin-top: 390px;
  margin-left: 480px;
}
.header-button:hover {
  color: #ea924b;
}
.cards-holder {
  display: flex;
  justify-content: center;
}
.card {
  width: 349px;
  box-shadow: 10px 10px 40px 20px #0000001a;
  margin-right: 31px;
  background-color: #fff;
  margin-top: -60px;
  padding: 20px 10px;
  padding-top: 5px;
}
.card-image {
  display: flex;
  justify-content: center;
}
.card-img {
  width: 60px;
  height: 60px;
  padding-top: 25px;
}
.card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
.card-desc {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 15px;
}
.history {
  margin-top: 150px;
  padding-bottom: 200px;
}
.history-title {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  width: 450px;
  text-align: center;
}
.history-desc {
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  width: 450px;
  text-align: center;
}
.history-holder {
  display: flex;
  justify-content: space-between;
}
.history-images {
  position: relative;
}
.image-1 {
  position: absolute;
  z-index: 0;
  top: -87px;
  left: -343px;
}
.image-2 {
  position: absolute;
  z-index: 999;
  top: -149px;
  left: -95px;
}
.image-3 {
  position: absolute;
  z-index: 999;
  top: 47px;
  left: -222px;
}

.black-block {
  background-image: url(black-bg.jpg);
  padding: 80px 0;
}
.left-title {
  color: #fb7507;
  font-family: 'Lobster', cursive;
  font-size: 35px;
  margin-bottom: 20px;
}
.left-text {
  font-size: 24px;
  color: #fff;
  font-family: 'Open sans', sans-serif;
}
.right-btn {
  background-color: #ff7400;
  padding: 14px 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open sans', sans-serif;
  text-decoration: none;
  transition: background-color 0.3s linear;
}
.block-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes-title {
  color: black;
  font-family: 'Open sans', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 132px;
  margin-bottom: 139px;
}
.burgers {
  display: flex;
  justify-content: center;
}
.burger-item {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
.burgers-image {
  margin-right: 20px;
}
.burger-text {
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  margin-left: 20px;
}
.menu {
  background-image: url(menu-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.menu-title {
  font-family: 'Open sans', sans-serif;
  font-size: 50px;
  padding-top: 98px;
  text-align: center;
  color: #fff;
  padding-bottom: 138px;
}
.menu-item {
  background-color: #fff;
  text-align: center;
  width: 33%;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-right: 20px;
}
/* .menu-img {
  border-radius: 50%;
} */
.menu-text {
  font-family: 'Open sans', sans-serif;
  font-size: 30px;
  padding-top: 16px;
  padding-bottom: 17px;
}
.menu-subtext {
  font-family: 'Open sans', sans-serif;
  font-size: 25px;
}
.menu-btn {
  background-color: #ff7400;
  text-decoration: none;
  padding: 12px 75px;
  color: #fff;
  font-size: 20px;
  font-family: 'Open sans', sans-serif;
  font-weight: 700;
  box-shadow: 5px 5px 10px 0px #00000040;
}
.menu-button {
  margin-top: 20px;
}
.price-image {
  position: absolute;
  bottom: 0;
  right: 40px;
}
.menu-image {
  position: relative;
}
.menu-img {
  height: 100%;
  width: 100%;
}
/* .price-420 {
  position: absolute;
  bottom: 32px;
  right: 65px;
  color: #fff;
  font-size: 30px;
} */
.menu-items {
  display: flex;
  justify-content: center;
}
.coment {
  background-color: #e5e5e5;
  padding-top: 104px;
  padding-bottom: 139px;
}
.coment-text {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}
.coment-img {
  border-radius: 50px;
}
.coment-image {
  text-align: center;
}
.coment-type {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 25px;
}
.coment-name {
  text-align: center;
  font-family: 'Open sans', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}
.galery-title {
  font-family: 'Open sans', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}
.galery-content {
  display: flex;
  justify-content: center;
}
.galery-left {
  margin-right: 20px;
}
.galery-down,
.galery-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.cook-title {
  font-family: 'Open sans', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}
.cook-content {
  display: flex;
  justify-content: space-around;
}
.burger-menu {
  display: none;
}
@media (max-width: 1300px) {
  .galery-content {
    display: block;
  }
  .img-gal,
  .galery-down,
  .galery-up {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .img-gal {
    margin-bottom: 20px;
  }
  .galery-left {
    margin-right: 0;
  }
}
@media (max-width: 1300px) {
  .menu-items {
    display: block;
  }
  .menu-item {
    margin: 20px auto;
    width: 500px;
  }
  .header-down {
    position: static;
  }

  .cook-content {
    display: block;
  }
  .cook-content img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .block-holder {
    display: block;
  }
  .left-title,
  .left-text,
  .right-button {
    text-align: center;
  }
  .right-button {
    margin-top: 30px;
  }

  .history-images {
    display: none;
  }

  .history-title,
  .history-desc {
    width: auto;
  }
}
@media (max-width: 1180px) {
  .burger-menu {
    display: block;
  }
  .nav,
  .cart,
  .phone,
  .btn {
    display: none;
  }
  .header-line {
    justify-content: space-between;
  }
}
